mule-cache-scope-test/src/main/mule/mule-cache-scope-with-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow doc:id="736ad67d-442f-4ed5-9afa-614326e27f15" initialState="started" name="mulCacheScopeWithDatabaseFlow">
		<http:listener doc:name="8081/dbCache" doc:id="f2bb25c8-9c9b-4ff2-8fed-58f67aca3df2" path="${httpListener.pathfordbcache}" config-ref="HTTP_Listener_config"/>
		<ee:cache doc:name="Cache" doc:id="6ebaff74-67ba-43ed-be4b-697d51bf69ae">
			<db:select doc:id="9a213173-12e7-4ded-b725-d9e587fbb61b" config-ref="Database_Config" doc:name="GET Customers Details">
				<db:sql >SELECT * FROM customer_details;</db:sql>
			</db:select>
			<ee:transform doc:name="JSON Payload" doc:id="db31ff0f-10c0-4342-bb8e-1181566d6472" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</ee:cache>
		<logger level="INFO" doc:name="Payload" doc:id="9088f12e-2c8d-4898-932e-117baccb1f1e" message="#[payload]"/>
	</flow>
	</mule>
